@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,cyrillic);

body {
  padding:50px;
  font-family: 'Open Sans', sans-serif;
  color:#777;
  font-weight:300;
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
  margin: 0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin: 0 0 20px;
}

h1, h2, h3 {
  line-height: 1.1;
}

h1 {
  font-size: 36px;
}

h2 {
  color: #393939;
}

h3, h4, h5, h6 {
  color: #494949;
}

a {
  color: #39c;
  font-weight: 400;
  text-decoration: none;
}

a small {
  font-size: 11px;
  color: #777;
  margin-top: -0.6em;
  display: block;
}

.lessons-list {
  width: 640px;
  margin: 0 auto;
}

.lessons-list li {
  font-size: 28px;
}
